.full-width {
    width: 100%;
}

.matching-answer-edit-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-validation-error {
    margin: 1rem 0;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .group-left > button {
        margin-right: 0.5rem;
    }

    .group-right > button {
        margin-left: 0.5rem;
    }

    @media(max-width: 530px) {
        display: block;

        .group-left > button {
            margin-right: 0;
            margin-bottom: 1.3rem;
            width: 100%;
        }

        .group-right {
            display: flex;
            justify-content: space-between;

            > button {
                margin-left: 0;
                width: 50%;

                &:not(:last-child) {
                    margin-right: 1.3rem;
                }
            }
        }
    }
}

.correct-answer-mark,
.delete-answer-btn {
    margin: 0 0.3rem;
}

.delete-answer-btn {
    margin: 0 1rem;
}
