<app-layout-full [loading]="loading$ | async" [menu]="editMenu" [secondaryToolbar]="filterPanel">
    <mat-nav-list>
        <app-student-list-item
            class="item"
            [student]="student"
            *ngFor="let student of students$ | async"
        >
        </app-student-list-item>
    </mat-nav-list>
</app-layout-full>

<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="showCreateStudentForm()">
        <mat-icon>add</mat-icon>
        Добавить ученика
    </button>
</mat-menu>

<ng-template content-top #filterPanel>
    <div class="secondary-toolbar-content">
        <mat-form-field appearance="outline" class="tag-filter">
            <mat-label>Фильтр по тегам</mat-label>
            <mat-select multiple [ngModel]="(filter$ | async)?.tags ?? []" (ngModelChange)="applyTagFilter($event)">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Поиск..."></ngx-mat-select-search>
                </mat-option>
                @for (tag of availableTags$ | async; track tag.id) {
                    <mat-option [value]="tag.id">{{tag.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <app-search
            class="search"
            placeholder="Поиск"
            [searchString]="(filter$ | async)?.searchString ?? ''"
            (searchStringChange)="applySearchString($event)"
        >
        </app-search>
    </div>
</ng-template>
