<app-layout-full [loading]="loading$ | async">
    <ng-container navbar>
        <button mat-flat-button [matMenuTriggerFor]="editMenu">
            <mat-icon>edit</mat-icon>
            Правка
        </button>
    </ng-container>

    <div class="details" *ngIf="quiz">
        <h1 class="title">{{ quiz.title }}</h1>

        <div class="description">{{ quiz.description }}</div>

        <div class="question-list" *ngIf="quiz.questions">
            <div 
                *ngFor="let question of quiz.questions; index as idx"
                [@collapseOnLeave]
                [@expandOnEnter]
            >
                <app-quiz-question-edit-form
                    *ngIf="question.id === editQuestionId; else questionView"
                    [question]="question"
                    [quizId]="quiz.id"
                    (cancelRequested)="editQuestion(null)"
                    (saveRequested)="saveQuestion($event)"
                    class="question">
                </app-quiz-question-edit-form>
                <ng-template #questionView>
                    <app-quiz-question
                        class="question"
                        [question]="question"
                        [position]="idx + 1"
                        (editRequested)="editQuestion($event)"
                        (deleteRequested)="deleteQuestion($event)">
                    </app-quiz-question>
                </ng-template>
            </div>

            <div>
                <app-quiz-question-edit-form
                    *ngIf="newQuestion"
                    [@collapseOnLeave]
                    [question]="newQuestion"
                    [quizId]="quiz.id"
                    (cancelRequested)="cancellAddQuestion()"
                    (saveRequested)="saveNewQuestion($event)"
                    class="question">
                </app-quiz-question-edit-form>
            </div>

            <div id="bottom"></div>
        </div>
    </div>
</app-layout-full>

<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="addQuestion()" [disabled]="newQuestion">
        <mat-icon>add</mat-icon>
        Добавить вопрос
    </button>
    <button mat-menu-item (click)="changeQuestionOrder()">
        <mat-icon>sort</mat-icon>
        Изменить порядок вопросов
    </button>
    <button mat-menu-item (click)="editQuiz()">
        <mat-icon>edit</mat-icon>
        Редактировать
    </button>
    <button mat-menu-item (click)="deleteQuiz()">
        <mat-icon>delete</mat-icon>
        Удалить тест
    </button>
</mat-menu>