<app-layout-full [loading]="loading$ | async" [menu]="editMenu">

    <div class="details" *ngIf="student">
        <h1 class="title">{{student.firstName}} {{student.lastName}}</h1>
        @if (student.tags) {
            <app-tag-pane class="tags" [tags]="student.tags"></app-tag-pane>
        }
        <app-student-note class="note" [student]="student"></app-student-note>
        <app-student-quiz-run
            *ngFor="let run of student.runs"
            [run]="run"
            [@collapseOnLeave]
            (deleteRequested)="deleteRun($event)"
            class="run" >
        </app-student-quiz-run>

    </div>
</app-layout-full>



<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="editStudent()">
        <mat-icon>edit</mat-icon>
        Редактировать
    </button>
    <button mat-menu-item (click)="addRun()">
        <mat-icon>add</mat-icon>
        Добавить тест
    </button>
    <button mat-menu-item (click)="deleteStudent()">
        <mat-icon>delete</mat-icon>
        Удалить
    </button>
</mat-menu>
