$toolbar-height: 54px;

main {
    position: relative;
}

.layout-full-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: $toolbar-height;
    position: fixed;

    >*:not(:last-child) {
        margin-right: 0.5rem;
    }

    .layout-full-toolbar-menu {
        margin-right: 0.1rem;
    }

    .layout-full-toolbar-app-name {
        cursor: pointer;
        display: flex;
        height: 100%;
        align-items: center;

        .layout-full-toolbar-title {
            font-weight: bold;
            font-size: 1.6rem;
            display: none;

            @media (min-width: 510px) {
                display: inline-block;
            }
        }
    }

    .layout-full-toolbar-spacer {
        flex-grow: 1;
    }

    .layout-full-toolbar-nav {
        @media (min-width: 700px) {
            display: flex;

            .layout-full-toolbar-nav-link {
                margin-left: .3rem;

                &.active {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }

        @media (max-width: 699px) {
            display: none;
        }
    }

    @media (max-width: 600px) {
        &.mat-toolbar {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.layout-full-nav-bottom-panel .mat-bottom-sheet-container {
    display: flex !important;
    flex-direction: column !important;

    >*:not(:last-child) {
        margin-bottom: 0.7rem;
    }
}

.layout-full-container {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: $toolbar-height;
    overflow: auto;

    .layout-full-content {
        box-sizing: border-box;
        padding: 0 0.5rem;
        position: relative;
    }

    .layout-full-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 2rem);
        padding: 1rem;

        .layout-full-sidebar-items {
            display: flex;
            flex-direction: column;

            >*:not(:last-child) {
                margin-bottom: 0.8rem;
            }
        }
    }
}

.layout-full-secondary-toolbar {
    $secondary-toolbar-height: 54px;
    $secondary-toolbar-content-height: 34px;

    height: $secondary-toolbar-height;
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px 0px;
    display: flex;
    align-items: center;

    .mat-form-field-appearance-outline {
        height: $secondary-toolbar-content-height !important;
        min-height: $secondary-toolbar-content-height !important;

        .mat-mdc-form-field-infix {
            height: $secondary-toolbar-content-height !important;
            min-height: $secondary-toolbar-content-height !important;
            padding: 5px 0 !important;
        }

        .mat-mdc-form-field-icon-suffix button {
            border: none;
            background: none;
            line-height: 0;
            cursor: pointer;
        }

        .mat-mdc-form-field-flex {
            height: $secondary-toolbar-content-height !important;
            min-height: $secondary-toolbar-content-height !important;

            .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
                top: 16px;
            }
        }
    }
}

.layout-full-loading {
    .mat-mdc-dialog-surface {
        background: none !important;
        box-shadow: none !important;
    }
}

.layout-full-btn-up {
    @media (max-width: 1229px) {
        display: none;
    }

    @media (min-width: 1230px) {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;

        .mat-icon {
            font-size: 2rem;
            height: 2rem;
            width: 2rem;
            font-weight: bold;
        }
    }
}