<mat-toolbar class="layout-full-toolbar" color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="layout-full-toolbar-menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="layout-full-toolbar-app-name" routerLink="">
        <span class="layout-full-toolbar-title cursive">QuizTime</span>
    </span>
    <div class="layout-full-toolbar-nav">
        <button mat-flat-button color="primary" routerLink="/quiz" class="layout-full-toolbar-nav-link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true  }">
            Тесты
        </button>
        <button mat-flat-button color="primary" routerLink="/student" class="layout-full-toolbar-nav-link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true  }">
            Ученики
        </button>
        <button mat-flat-button color="primary" routerLink="/tag" class="layout-full-toolbar-nav-link"
            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true  }">
            Теги
        </button>
    </div>

    <div class="layout-full-toolbar-spacer"></div>

    <ng-content select="[toolbar]"></ng-content>

    <button *ngIf="menu" class="layout-full-toolbar-nav-menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="setSystemTheme()">
        <mat-icon>settings</mat-icon>
        Системная
    </button>
    <button mat-menu-item (click)="setLightTheme()">
        <mat-icon>light_mode</mat-icon>
        Светлая
    </button>
    <button mat-menu-item (click)="setDarkTheme()">
        <mat-icon>dark_mode</mat-icon>
        Тёмная
    </button>
</mat-menu>

<mat-drawer-container autosize class="layout-full-container">
    <mat-drawer #drawer mode="over" [autoFocus]="false">
        <div class="layout-full-sidebar">
            <div class="layout-full-sidebar-items">
                <button mat-stroked-button routerLink="/quiz" class="layout-full-toolbar-nav-link">
                    <mat-icon>quiz</mat-icon> Тесты
                </button>
                <button mat-stroked-button routerLink="/student" class="layout-full-toolbar-nav-link">
                    <mat-icon>people</mat-icon> Ученики
                </button>
                <button mat-stroked-button routerLink="/tag" class="layout-full-toolbar-nav-link">
                    <mat-icon>tag</mat-icon> Теги
                </button>
            </div>
            <div class="layout-full-sidebar-items">
                <button mat-stroked-button [matMenuTriggerFor]="themeMenu">
                    <mat-icon>palette</mat-icon> Цветовая схема
                </button>
                <button mat-stroked-button (click)="logOut()">
                    <mat-icon>logout</mat-icon> Выйти
                </button>
            </div>
        </div>
    </mat-drawer>

    <main #scrollContainer>
        <div id="layout-full-container-top"></div>
        <div *ngIf="secondaryToolbar" class="layout-full-secondary-toolbar">
            <div class="app-container layout-full-content">
                <ng-container *ngTemplateOutlet="secondaryToolbar"></ng-container>
            </div>
        </div>
        <div class="app-container layout-full-content" [class.invisible]="loading">
            <ng-content></ng-content>
        </div>

        <div *ngIf="scrollTopButtonVisible" class="layout-full-btn-up" title="Наверх" (click)="scrollTop()">
            <mat-icon>arrow_upward</mat-icon>
        </div>
    </main>

</mat-drawer-container>

<ng-template #loading>
    <mat-spinner color="primary"></mat-spinner>
</ng-template>
