$toolbar-height: 54px;

.layout-full-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: $toolbar-height;
    position: fixed;

    > *:not(:last-child) {
        margin-right: 0.5rem;
    }

    .layout-full-toolbar-title {
        cursor: pointer;
        font-size: 1.3rem;
    }

    .layout-full-toolbar-spacer {
        flex-grow: 1;
    }
}

.layout-full-nav-bottom-panel .mat-bottom-sheet-container {
    display: flex !important;
    flex-direction: column !important;

    > *:not(:last-child) {
        margin-bottom: 0.7rem;
    }
}

.layout-full-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: $toolbar-height;
    overflow: auto;
    padding: 0 0.5rem;

    .layout-full-content {
        box-sizing: border-box;
    }
}

.layout-full-loading {
    .mat-mdc-dialog-surface {
        background: none !important;
        box-shadow: none !important;
    }
}

.layout-full-btn-up {
    @media (max-width: 1229px) {
        display: none;
    }

    @media (min-width: 1230px) {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;

        .mat-icon {
            font-size: 2rem;
            height: 2rem;
            width: 2rem;
            font-weight: bold;
        }
    }
}
