<app-markdown class="question-text" [source]="question.text"></app-markdown>

@switch (type) {
    @case ('text') {
        <app-run-free-text-answer
            [(answer)]="singleAnswer">
        </app-run-free-text-answer>
    }
    @case ('multi') {
        <app-run-multiple-choices-answers
            [variants]="answerVariants"
            [(answers)]="allAnswers">
        </app-run-multiple-choices-answers>
    }
    @case ('single') {
        <app-run-single-choice-answers
            [variants]="answerVariants"
            [(answer)]="singleAnswer">
        </app-run-single-choice-answers>
    }
    @case ('match') {
        <app-run-match-answers
            [variants]="answerVariants"
            [(matches)]="allAnswers">
        </app-run-match-answers>
    }
}
