<mat-card>
    <mat-card-header>
        <div class="header">
            <mat-chip class="ordianal">
                {{question.ordinal_number + 1}}
            </mat-chip>
            <mat-card-subtitle class="question-title">{{question.question_type | questionTypeName}}</mat-card-subtitle>
            <button mat-icon-button [matMenuTriggerFor]="editMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <app-markdown class="question-text" [source]="question.text"></app-markdown>
        <div class="answers">
            <div class="answer-row" *ngFor="let answer of question.answers">
                <span class="answer-mark">
                    <mat-icon *ngIf="answer.is_correct; else notCorrect">check</mat-icon>
                    <ng-template #notCorrect>
                        <mat-icon>clear</mat-icon>
                    </ng-template>
                </span>
                <div class="answer-text">
                    {{answer.text}}
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="edit()"><mat-icon>edit</mat-icon>Редактировать</button>
    <button mat-menu-item color="warn" (click)="delete()"><mat-icon>delete</mat-icon>Удалить</button>
</mat-menu>