<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Тип</mat-label>
            <mat-select matInput autocomplete="off" required="" [(ngModel)]="questionType">
                <mat-option *ngFor="let type of questionTypes" [value]="type">
                    {{type | questionTypeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Текст</mat-label>
            <textarea matInput rows="5" [(ngModel)]="questionText" required=""></textarea>
        </mat-form-field>

        <div *ngFor="let answer of answers">
            <mat-form-field class="full-width">
                <mat-checkbox matPrefix *ngIf="canAnswersBeMarkedAsCorrect" [(ngModel)]="answer.isCorrect"
                    [matTooltip]="answer.isCorrect ? 'Правильный ответ' : 'Неправильный ответ'"
                    class="correct-answer-mark">
                </mat-checkbox>
                <input matInput type="text" autocomplete="off" required="" [(ngModel)]="answer.text" />
                <button matSuffix
                    mat-icon-button 
                    matTooltip="Удалить ответ"
                    (click)="deleteAnswer(answer)"
                    class="delete-answer-btn"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <div class="actions">
            <div class="group-left">
                <button mat-raised-button (click)="addAnswer()">
                    <mat-icon>add</mat-icon>
                    Добавить ответ
                </button>
            </div>
            <div class="group-right">
                <button mat-raised-button (click)="cancel()">
                    <mat-icon>cancel</mat-icon>
                    Отменить
                </button>
                <button mat-raised-button color="accent" (click)="save()">
                    <mat-icon>save</mat-icon>
                    Сохранить
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>