.full-width {
    width: 100%;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .group-left > button {
        margin-right: 0.5rem;
    }

    .group-right > button {
        margin-left: 0.5rem;
    }
}

.correct-answer-mark,
.delete-answer-btn {
    margin: 0 0.3rem;
}

.delete-answer-btn {
    margin: 0 1rem;
}