<app-layout-full [loading]="loading$ | async" [menu]="uploadMenu">
    @for (data of artifacts$ | async; track data.artifact.id) {
        <mat-card [@collapseOnLeave]>
            <mat-card-header>
                <mat-card-title>{{data.artifact.filename}}</mat-card-title>
                <mat-card-subtitle>{{data.artifact.uploadDate | date:'medium'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="code-block">
                    <mat-card-subtitle class="code-section-title">Код для вставки изображения</mat-card-subtitle>
                    <code>{{data.links.markdownImage}}</code>
                </div>
                <div class="code-block">
                    <mat-card-subtitle class="code-section-title">Код для вставки аудио</mat-card-subtitle>
                    <code>{{data.links.markdownAudio}}</code>
                </div>
            </mat-card-content>
            <mat-card-actions class="action-panel">
                <a mat-button target="_blank" href="{{data.links.url}}"><mat-icon>launch</mat-icon> Открыть в новой вкладке</a>
                <button mat-button (click)="deleteFile(data.artifact)"><mat-icon>delete</mat-icon> Удалить</button>
            </mat-card-actions>
        </mat-card>
    }
</app-layout-full>

<input #fileInput type="file" (change)="onFileSelected($event)" >

<mat-menu #uploadMenu="matMenu">
    <button mat-menu-item (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        Загрузить файл
    </button>
</mat-menu>
