@use "sass:map";
@use "@angular/material" as mat;
@use "app/layout/layout-full/layout-full.component-theme" as layout-full;
@use "app/quiz/quiz-question-sort/quiz-question-sort.component-theme" as quiz-question-sort;
@use "app/quiz-report/quiz-report-item/quiz-report-item.component-theme" as quiz-report-item;

mat.$theme-ignore-duplication-warnings: true;

$default-font: Roboto, "Helvetica Neue", sans-serif;

body {
    margin: 0;
    font-family: $default-font;
}

@include mat.core();

$app-blue-palette: (
    50 : #eaf0fb,
    100 : #cadbf5,
    200 : #a7c3ef,
    300 : #83aae9,
    400 : #6998e4,
    500 : #4e86df,
    600 : #477edb,
    700 : #3d73d7,
    800 : #3569d2,
    900 : #2556ca,
    A100 : #ffffff,
    A200 : #d3dfff,
    A400 : #a0baff,
    A700 : #86a7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-orange-palette: (
    50 : #f8f0e4,
    100 : #ecdabb,
    200 : #e0c18e,
    300 : #d4a861,
    400 : #ca953f,
    500 : #c1821d,
    600 : #bb7a1a,
    700 : #b36f15,
    800 : #ab6511,
    900 : #9e520a,
    A100 : #ffe2cb,
    A200 : #ffc598,
    A400 : #ffa965,
    A700 : #ff9b4c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat.m2-define-palette($app-orange-palette);
$app-accent: mat.m2-define-palette($app-blue-palette);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$app-light-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
    )
);

$app-dark-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
    )
);

@mixin global-theme($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $is-dark-theme:   map.get($color-config, 'is-dark');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');
    $background-palette: map.get($color-config, 'background');
    $foreground-palette: map.get($color-config, 'foreground');

    body {
        background-color: mat.m2-get-color-from-palette($background-palette, background);
        color: mat.m2-get-color-from-palette($foreground-palette, text);
    }

    a {
        @if $is-dark-theme {
            color: mat.m2-get-color-from-palette($accent-palette, A200);
        } @else {
            color: mat.m2-get-color-from-palette($accent-palette);
        }
    }

    .text-muted {
        color: mat.m2-get-color-from-palette($foreground-palette, disabled-text);
    }

    .text-error {
        color: mat.m2-get-color-from-palette($warn-palette, text);
    }

    .mdc-snackbar {
        &.info {
            .mdc-snackbar__surface {
                background-color: mat.m2-get-color-from-palette($accent-palette, default);
            }

            .mat-mdc-snack-bar-label {
                color: mat.m2-get-color-from-palette($accent-palette, default-contrast);
            }

            .mat-simple-snackbar-action {
                color: mat.m2-get-color-from-palette($accent-palette, default-contrast);
            }
        }

        &.error {
            .mdc-snackbar__surface {
                background-color: mat.m2-get-color-from-palette($warn-palette, default);
            }

            .mat-mdc-snack-bar-label {
                color: mat.m2-get-color-from-palette($warn-palette, default-contrast);
            }

            .mat-simple-snackbar-action {
                color: mat.m2-get-color-from-palette($warn-palette, default-contrast);
            }
        }
    }

    .cdk-overlay-backdrop.solid {
        background-color: mat.m2-get-color-from-palette($background-palette, background);
    }
}

@include mat.all-component-densities($app-light-theme);

@mixin dark-colors {
    @include global-theme($app-dark-theme);
    @include layout-full.theme($app-dark-theme);
    @include quiz-question-sort.theme($app-dark-theme);
    @include quiz-report-item.theme($app-dark-theme);
}

@mixin light-colors {
    @include global-theme($app-light-theme);
    @include layout-full.theme($app-light-theme);
    @include quiz-question-sort.theme($app-light-theme);
    @include quiz-report-item.theme($app-light-theme);
}

@media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($app-dark-theme);
    html {
        @include dark-colors;
    }
}

@media (prefers-color-scheme: light) {
    @include mat.all-component-themes($app-light-theme);
    html {
        @include light-colors;
    }
}

html {
    &.dark {
        @include mat.all-component-colors($app-dark-theme);
        @include dark-colors;
    }

    &.light {
        @include mat.all-component-colors($app-light-theme);
        @include light-colors;
    }
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.app-container {
    width: 1024px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.system-message {
    border-radius: 4px;

    &__error {
        .mdc-snackbar__surface {
            background-color: mat.m2-get-color-from-palette($app-warn, default) !important;
        }

        .mat-mdc-snack-bar-label, .mat-mdc-snack-bar-action {
            color: mat.m2-get-color-from-palette($app-warn, default-contrast) !important;
        }
    }

    &__info {
        .mdc-snackbar__surface {
            background-color: mat.m2-get-color-from-palette($app-accent, default) !important;
        }

        .mat-mdc-snack-bar-label, .mat-mdc-snack-bar-action {
            color: mat.m2-get-color-from-palette($app-accent, default-contrast) !important;
        }
    }
}

.cursive {
    font-family: Courgette, $default-font;
}
