.details {
    padding: 1rem 0;

    .title {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .description {
        white-space: pre-line;
    }

    .question-list {
        margin-top: 1rem;

        .question {
            margin-bottom: 1rem;
            display: block;
        }
    }
}
