<app-layout-full [loading]="loading$ | async">
    <div class="details" *ngIf="student">
        <h1 class="title">{{student.firstName}} {{student.lastName}}</h1>

        <!-- TODO: component -->
        <mat-card>
            <mat-card-content>
                <div class="note">
                    {{student.note}}
                </div>
            </mat-card-content>
        </mat-card>

        <!-- TODO: component -->
        <mat-card *ngFor="let run of student.runs">
            <mat-card-content>
                Start: {{run.startDate}}
            </mat-card-content>
        </mat-card>

    </div>
</app-layout-full>