@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $is-dark-theme:   map.get($color-config, 'is-dark');
    $background-palette: map.get($color-config, "background");

    .quiz-report-item {
        .status {
            @if $is-dark-theme {
                color: #ff7272;
            } @else {
                color: #e13838;
            }

            &.passed {
                @if $is-dark-theme {
                    color: #2bcb2b;
                } @else {
                    color: #00a020;
                }
            }
        }

        .answers {
            .header, .header th, .odd, .odd td {
                background-color: mat.get-color-from-palette($background-palette, "background");
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
