@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    $color-config: mat.m2-get-color-config($theme);
    $is-dark-theme: map.get($color-config, 'is-dark');
    $background-palette: map.get($color-config, "background");

    $color-correct: #00a020;
    $color-incorrect: #e13838;

    @if $is-dark-theme {
        $color-correct: #2bcb2b;
        $color-incorrect: #ff7272;
    }

    .quiz-report-item {
        .status {
            color: $color-incorrect;

            &.passed {
                color: $color-correct;
            }
        }

        .answer.matched {
            &.correct {
                color: $color-correct;
            }

            &:not(.correct) {
                color: $color-incorrect;
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.m2-get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
