.title-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    .question-index {
        align-self: center;
        margin-right: 1.1rem;
    }
}

.status {
    display: flex;
    align-items: center;

    .mat-icon {
        margin-right: 0.3rem;
    }
}

.question {
    ::ng-deep img {
        max-width: 100%;
    }
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .icon {
        display: inline-block;
        margin-right: 0.5rem;
    }

    &.matched {
        font-weight: bold;

        &:not(.correct) .text {
            text-decoration: line-through;
        }
    }
}
