.list-filter-panel {
    width: 100%;
    display: flex;
    justify-content: stretch;
    gap: 0.4rem;

    .tag-filter {
        flex-grow: 5;
    }

    .search {
        flex-grow: 2;
    }

    .clear-btn {
        &:not(.visible) {
            visibility: hidden;
        }
    }
}
