@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $background-palette: map.get($color-config, "background");
    $foreground-palette: map.get($color-config, "foreground");

    .layout-full-container {
        .layout-full-content {
            background-color: mat.get-color-from-palette($background-palette, dialog);
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
