<mat-toolbar class="layout-full-toolbar" color="primary">
    <span class="layout-full-toolbar-title" routerLink="">QuizTime</span>
    <button
        mat-flat-button
        color="primary"
        routerLink="/quiz"
        class="layout-full-toolbar-nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true  }"
    >
        Тесты
    </button>
    <button
        mat-flat-button
        color="primary"
        routerLink="/student"
        class="layout-full-toolbar-nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true  }"
    >
        Ученики
    </button>

    <div class="layout-full-toolbar-spacer"></div>

    <ng-content select="[navbar]"></ng-content>

    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #optionsMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">
        <mat-icon>palette</mat-icon>
        Цветовая схема
    </button>
</mat-menu>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="setSystemTheme()">
        <mat-icon>settings</mat-icon>
        Системная
    </button>
    <button mat-menu-item (click)="setLightTheme()">
        <mat-icon>light_mode</mat-icon>
        Светлая
    </button>
    <button mat-menu-item (click)="setDarkTheme()">
        <mat-icon>dark_mode</mat-icon>
        Тёмная
    </button>
</mat-menu>

<main class="layout-full-container">
    <div class="app-container layout-full-content" [class.invisible]="loading">
        <ng-content></ng-content>
    </div>
</main>

<ng-template #loading>
    <mat-spinner color="primary"></mat-spinner>
</ng-template>
