.status {
    display: flex;
    align-items: center;

    .mat-icon {
        margin-right: 0.3rem;
    }
}

.answers {
    border-collapse: collapse;

    td, th, td > *, th > * {
        vertical-align: middle;
        text-align: left;
    }

    th {
        padding: 0.5rem 1rem;
    }

    td {
        padding: 0.3rem 1rem;
    }

    .center {
        text-align: center;
    }
}
