.status {
    display: flex;
    align-items: center;
    color: #ff7272; // TODO: Theme

    .mat-icon {
        margin-right: 0.3rem;
    }

    &.passed {
        color: #2bcb2b; // TODO: Theme
    }
}

.answers {
    border-collapse: collapse;

    td, th, td > *, th > * {
        vertical-align: middle;
        text-align: left;
    }

    th {
        padding: 0.5rem 1rem;
    }

    td {
        padding: 0.3rem 1rem;
    }

    .header, .header th, .odd, .odd td {
        background-color: rgb(86, 86, 86); // TODO: Theme
    }

    .center {
        text-align: center;
    }
}
