<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Тест</mat-label>
        <input type="text"
                matInput
                formControlName="quiz"
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getQuizTitle">
            @for (quiz of availableQuizzes$ | async; track quiz.id) {
                <mat-option [value]="quiz">{{quiz.title}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
    <div class="buttons">
        <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid" (click)="add()">
            <mat-icon>add</mat-icon>
            Добавить
        </button>
        <button mat-raised-button (click)="cancel()">
            <mat-icon>close</mat-icon>
            Отменить
        </button>
    </div>
</form>
