<app-layout-full [loading]="loading$ | async" [menu]="editMenu" [secondaryToolbar]="filterPanel">
    <mat-nav-list>
        <app-quiz-list-item
            class="item"
            *ngFor="let quiz of quizzes$ | async"
            [quiz]="quiz"
        ></app-quiz-list-item>
    </mat-nav-list>
</app-layout-full>

<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="showCreateQuizForm()">
        <mat-icon>add</mat-icon>
        Добавить тест
    </button>
</mat-menu>

<ng-template content-top #filterPanel>
    <app-list-filter-panel
        class="secondary-toolbar-content"
        [tags]="(availableTags$ | async) ?? []"
        (filterChanged)="applyFilter($event)">
    </app-list-filter-panel>
</ng-template>
