.item {
    margin-bottom: 0.5rem;
    display: block;
}

.secondary-toolbar-content {
    display: flex;
    justify-content: stretch;
    gap: 0.4rem;

    .tag-filter {
        flex-grow: 5;
    }

    .search {
        flex-grow: 2;
    }
}

@media (max-width: 590px) {
    .quiz-list-search {
        margin-right: 0 !important;
    }
}