<app-layout-full [loading]="loading$ | async" [menu]="editMenu">
    <mat-nav-list>
        <app-quiz-list-item
            class="item"
            *ngFor="let quiz of quizzes$ | async"
            [quiz]="quiz"
        ></app-quiz-list-item>
    </mat-nav-list>

    <ng-container toolbar>
        <app-search 
            class="quiz-list-search"
            placeholder="Поиск"
            [searchString]="(filter$ | async)?.searchString ?? ''"
            (searchStringChange)="applySearchString($event)"
        >
        </app-search>
    </ng-container>
</app-layout-full>

<mat-menu #editMenu="matMenu">
    <button mat-menu-item (click)="showCreateQuizForm()">
        <mat-icon>add</mat-icon>
        Добавить тест
    </button>
</mat-menu>
