.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.run-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.run-link {
    padding-right: 8px;

    @media(max-width: 980px) {
        display: none;
    }
}

.run-dates {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 1rem 0 !important;

    .finish-date-block {
        display: flex;
        flex-direction: column;
        line-height: 1.5rem;
    }
}
