<form [formGroup]="form" (ngSubmit)="save()" class="form">
    <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input matInput type="text" autocomplete="off" required formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="lastName" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Теги</mat-label>
        <mat-select formControlName="tags" name="tags" multiple>
            @for (tag of availableTags$ | async; track tag.id) {
                <mat-option [value]="tag.id">{{tag.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="buttons">
        <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid">
            <mat-icon>save</mat-icon>
            Сохранить
        </button>
        <button mat-raised-button (click)="cancel()">
            <mat-icon>close</mat-icon>
            Отменить
        </button>
    </div>
</form>