<app-layout-simple>
    <ng-container *ngIf="run$ | async as run">
        <ng-container *ngIf="run.isFinished; then showResults else showRun"></ng-container>

        <ng-template #showRun>
            <app-run-go [run]="run"></app-run-go>
        </ng-template>

        <ng-template #showResults>
            <app-quiz-report [run]="run"></app-quiz-report>
        </ng-template>
    </ng-container>

    <ng-template #notFound>
        <app-run-not-found-message></app-run-not-found-message>
    </ng-template>
</app-layout-simple>
