<h1 mat-dialog-title>Изменить порядок вопросов</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
    <div
        class="quiz-question-sort__question-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
    >
        <div
            class="quiz-question-sort__question"
            *ngFor="let question of questions"
            cdkDrag
            cdkDragPreviewClass="quiz-question-sort__drag-preview"
        >
            <mat-icon class="quiz-question-sort__drag-icon">drag_indicator</mat-icon>
            <div class="quiz-question-sort__question-text">{{question.text}}</div>
        </div>
    </div>

</div>

<mat-divider></mat-divider>

<div mat-dialog-actions class="quiz-question-sort__actions">
    <button mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon> Отменить
    </button>
    <button mat-raised-button (click)="save()" color="accent">
        <mat-icon>save</mat-icon> Сохранить
    </button>
</div>
