.nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .back {
        margin-right: 0.35rem;
    }

    .forward {
        margin-left: 0.35rem;
    }
}

.description {
    margin-bottom: 1.4rem;
}
