<h1>{{title}}</h1>

<div class="description text-muted" *ngIf="description">{{description}}</div>

@if (totalQuestionCount > 0) {
    <mat-card *ngIf="currentQuestion">
        <mat-card-header>
            <h2 mat-card-subtitle>Вопрос {{currentQuestionIndex + 1}} из {{totalQuestionCount}}</h2>
        </mat-card-header>
        <mat-card-content>
            <app-run-question
                [question]="currentQuestion"
                [(answers)]="questions[currentQuestionIndex].answers"
                (complete)="completionChanged($event)">
            </app-run-question>
        </mat-card-content>
    </mat-card>

    <div class="nav-panel">
        <div class="back">
            <button mat-raised-button [disabled]="isCurrentQuestionFirst" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                Назад
            </button>
        </div>
        <div class="forward">
            <button
                mat-raised-button
                color="accent"
                [disabled]="!isCurrentQuestionAnswered"
                *ngIf="isCurrentQuestionLast; else nextQuestionButton"
                (click)="finish()"
            >
                <mat-icon>send</mat-icon>
                Отправить
            </button>
            <ng-template #nextQuestionButton>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="goForward()"
                    [disabled]="!isCurrentQuestionAnswered"
                >
                    <mat-icon>arrow_forward</mat-icon>
                    Далее
                </button>
            </ng-template>
        </div>

    </div>
} @else {
    <p class="text-muted">В этом тесте пока нет вопросов</p>
}